<div class="form-group">
    <label>Title</label>
    <input required type="text" class="form-control" name="title" id="title">
</div>
<div class="form-group">
    <label>Descreption</label>
    <textarea name="descreption" id="descreption" class="form-control"></textarea>
</div>
<div class="form-group">
    <label>upload video</label>
    <div>
        <input type="file" name="moduleVideo" class="mb-2" id="moduleVideo"><br>
    </div>
</div>
<button type="submit" class="btn btn-primary">Save</button>
<a href="/" class="btn btn-secondary">Cancel</a>